.theme-title {
  font-size: 32px; 
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #F06A0F;
}


.marketing-card {
  height: 410px;
}




















/* Tablet & Desktop */
@media (min-width: 768px) {
  .theme-title {
    font-size: 48px;
  }
 
}
@media (max-width: 768px)  {
   .hbt-service-label {
    font-size: 25px !important;
  }
}
